@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

:root {
  --slate: #f1e9de;
  --purple: #806298;
  --brick: #989489;
}

// ::selection {
//   background: var(--redOrange);
//   color: var(--pink-light);
// }
