@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --color-minimal: #f4f4f6;
  --color-purple: #7c2b83;
  --color-slate: #f1e9de;
  --color-brick: #989489;

  --radius-sm: 6px;
  --max-width:1200px;
}

// ::selection {
//   background: var(--redOrange);
//   color: var(--pink-light);
// }
