@use "./Topbar.module.scss" as TopbarVar;

#header {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: right center;
  // height: 100vh;
  height: calc(100vh - TopbarVar.$topbarHeight);
  min-height: 500px;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  display: grid;
  justify-items: center;
  align-content: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
}

.title {
  color: #fff;
  line-height: 1;
  font-family: "Yeseva One", cursive !important;

  .name,
  .memorial {
    text-transform: uppercase;
  }

  .name {
    font-size: clamp(3rem, 6vw, 5rem);
    letter-spacing: 0.23em;
    display: block;
  }

  .memorial {
    font-size: clamp(4rem, 8vw, 6.7em);
    letter-spacing: 0.07em;
    font-weight: bold;
  }

  .date {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-block: 5px 10px;
  }
}

.btnGroup {
  width: 100%;
  display: flex;
  gap: 1em;

  a {
    svg {
      position: relative;
      top: -2px;
      display: inline-block;
      // background: #fff;

      path {
        fill: var(--fill-color, white);
      }
    }
  }

  // & > * {
  //   flex: 1;
  // }
}

@media screen and (max-width: 1035px) {
  #header {
    background-image: url("../images/joca_headshot.jpg");
    grid-template-columns: 1fr;
    align-content: flex-end;

    .content {
      // background: rgb(0 0 0 / 75%);
      background: #000;
      backdrop-filter: blur(5px);
      width: 100%;
      padding-block: 30px;

      .title,
      .date {
        text-align: center;
      }

      .date {
        margin-block-start: 10px;
      }
    }
    .btnGroup {
      width: 90%;
      margin-inline: auto;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 550px) {
  #header {
    background-position: center -100px;
  }
  .btnGroup {
    flex-direction: column;

    a {
      width: 100%;
      text-align: center;
      padding-block: 10px;
    }
  }
}
