@use './variables';

html,
body {
  background: var(--pink-light);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Yeseva One', cursive !important;
  text-align: center;
  margin: 0%;
  padding: 0;
  color: var(--redOrange) !important;
  font-size: clamp(2rem, 7vw, 3rem) !important;
}

#card_wrapper {
  width: 95%;
  max-width: 600px;
  background: #fff;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow: clip;
  margin: auto;
  padding: 0;
  box-shadow: 0 0.3125rem 1rem -0.1875rem hsl(356, 60%, 90%);

  img {
    flex: 1;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  .card_content {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;

    a {
      // background: #f58131;
      // background: linear-gradient(180deg, #fdb933 35.42%, #f58131 139.58%);
      background: var(--redOrange);
      color: #fff;
      padding: 0.7rem 0.5rem;
      text-decoration: none;
      font-family: 'Yeseva One', cursive;
      font-size: 1.1rem;
      font-weight: 900;
      text-align: center;
      display: block;
      width: 95%;
      border-radius: 0.45rem;
      margin-inline: auto;
      box-shadow: 0 2px 6px hsl(356, 60%, 85%);
      transition: box-shadow 250ms ease, background 250ms ease;

      &:hover {
        background: var(--rose);
        box-shadow: 0 6px 14px hsl(356, 60%, 85%);
      }
    }
  }
}

@media screen and (max-width: 550px) {
  html,
  body {
    align-items: flex-start;
  }
  h1 {
    margin-block-start: 20px !important;
  }
  #card_wrapper {
    margin-block-start: 2%;
  }
}
